
.FAQ {
    max-width: 1015px;
    margin: 0 auto;
    h2 {
        border-left:8px solid $middle-danger;
        font-weight: bold;
        @include mobile {
            font-size: $font-mm;
        }
    }
}
.glasses-quiz {
    h3 {
        font-size: $font-xm;
        font-weight: bold;
        @include mobile {
            font-size: $font-s;
        }
    }
    li {
        h4 {
            font-size: $font-s;
            font-weight: bold;
            @include mobile {
                font-size: $fnot-xs;
            }
        }
        p {
            @include mobile {
                font-size: $font-xxs;
                line-height: 21px;     /*手機板p的空行用行高21px (mb-cel-21p)設定*/
            }
        }
    }
}