
.product-item {
    width: calc((100% - 90px)/4);   /*gutter=30px*3*/
    margin: 0 auto;
    @include pad {
        width: calc((100% - 30px)/2);   
    }
    @include mobile {
        width: 100%;
    }
}

.product-large-item {
    width: calc((100% - 60px)/3);
    margin: 0 auto;
    @include pad {
        width: calc((100% - 30px)/2);
    }
    @include mobile {
        width: 100%;
    }
}


.pagination {
    max-width: 386px;  /*上下頁(81px*2)+數字(42px*5)+左右邊線(14px)*/
    margin: 0 auto;
    .pagination-list{
        display: flex;
        a {
            display: block;
            padding: 12px 16px;
            color: #555;
            border: 1px solid #5555;
            &:hover {
                color: $white;
                background-color:$black;
            }
            @include mobile {
                padding: 10px 15px;
            }
        }
    }         
}