@import '_variables';
@import '_mixin';
@import '_reset';
@import '_base';
@import '_utils';

.series-nav {
    max-width: 1110px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    li {
        width: 32%;
        padding: 27px 0;
        a {
            @include font-center-bold;
            font-size: $font-xm;
            color: $black;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}
.nav-optical {
    border-bottom: 8px solid $danger;
}
.nav-sunglasses {
    border-right: 1px solid #DCDCDC;
    border-left: 1px solid #DCDCDC;
}
.series-icon {
    font-size: $font-xl;
    color: $black;
}

.series-banner {
    max-width: 1920px;
    display: flex;
    .series-banner-1 {
        width: 50%;
        height: 304px;
        background-image: url(https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/banner-1.png?raw=true);
        background-position: center center;
        background-size: cover;
        @include pad {
            background-image: url(https://cdn-sharing.adobecc.com/content/storage/id/urn:aaid:sc:US:d3d1119a-affd-4f48-8188-f070932224af;revision=0?component_id=fddcce5d-bef7-4c5f-b368-7492874e65b3&api_key=CometServer1&access_token=1627671216_urn%3Aaaid%3Asc%3AUS%3Ad3d1119a-affd-4f48-8188-f070932224af%3Bpublic_3a408015a0977650f27619a2d98760d5bf8edc8b);
        }
    }
    .series-banner-2 {
        width: 50%;
        height: 304px;
        background-image: url(https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/banner-2.png?raw=true);
        background-position: center center;
        background-size: cover;
        @include pad {
            background-image: url(https://cdn-sharing.adobecc.com/content/storage/id/urn:aaid:sc:US:d3d1119a-affd-4f48-8188-f070932224af;revision=0?component_id=27a575e0-67dc-4b1c-a5a4-ac3ea0759154&api_key=CometServer1&access_token=1627671216_urn%3Aaaid%3Asc%3AUS%3Ad3d1119a-affd-4f48-8188-f070932224af%3Bpublic_3a408015a0977650f27619a2d98760d5bf8edc8b);
        }
    }
}