/*Color*/
$white:#ffff;
$second-white:#AA06010D;
$black:#000000;
$danger: #AA0601;
$middle-danger:#9F1213;
$dark-danger:#650300;
$micro-gray:#DEE2E6;
$light-gray:#00000029;
$gray:#707070;
$mid-gray:#555555;
$dark-gray:#212529;


/*Font-size*/
$font-xxs: 14px;
$fnot-xs: 16px;
$font-s: 20px;
$font-m: 24px;
$font-mm: 28px;
$font-xm: 32px;
$font-l: 36px;
$font-xl:48px;
$font-xxl: 64px;
$font-big: 72px;
